body {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

.board {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
}

.square {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    outline: none;
}

.restart-button {
    margin: 20px 0;
}

input {
    width: 50px;
    margin: 0 7px;
}